#footerContainer {
    background-image: url('../images/hell-over-munich-btm.jpg');
    color: #f0f0f0;
    font-weight: 200;
}

#footerContainer #footerCopyright {
    text-align: right;
    color: #c0c0c0;
    padding: 0 10px
}

#footerContainer .container {
    padding: 5% 3% 1% 3%;
}

#footerContainer .social-container {
    padding-top: 0.3em;
}

#footerContainer p {
    font-size: 0.8em;
    width: 450px;
}

#footerContainer a {
    color: inherit;
}

#footerContainer img.logo {
    width: 12rem;
    display: inline-block;
    margin-top: -1.1em;
}