<div id="bioPageContainer">
    <section class="parallax main-banner">
        <div class="container">
            <div>
                <h1>Bio</h1>
                <h2>Relentless soldiers of the dark</h2>
            </div>
        </div>
    </section>
    <section id="members">
        <div class="row">
            <a href="#/bio/rob" class="col-xs-3 profile" id="rob">
                <span class="name">Rob</span>
            </a>
            <a href="#/bio/leo" class="col-xs-3 profile" id="leo">
                <span class="name">Leo</span>
            </a>
            <a href="#/bio/marius" class="col-xs-3 profile" id="marius">
                <span class="name">Marius</span>
            </a>
            <a href="#/bio/dennis" class="col-xs-3 profile" id="dennis">
                <span class="name">Dennis</span>
            </a>
        </div>
    </section>
</div>
