<div id="footerContainer" class="parallax">
    <section id="footerInfo">
        <div class="container">
            <div class="row">
                <span class="col-md-3">
                    <img src="images/dcd_banner_bright.png" class="logo" />
                </span>
                <span class="col-md-3">
                    <div class="social-container">
                        <div>
                            <a href="https://www.facebook.com/divinitycastdown">
                                <img class="social" src="images/FB-f-Logo__blue_144.png" />
                                @divinitycastdown
                            </a>
                        </div>
                        <!--<div>
                            <a href="http://twitter.com">
                                <img class="social" src="images/TwitterLogo_blue.png" />
                                @divinitycastdown    
                            </a>
                        </div>-->
                    </div>
                </span>
                <span class="col-md-6">
                    <p>
                        A touch of death, a dash of thrash, some blackened melodies with a vulgar rasp. Aggressive and dark, Divinity Cast Down is a Toronto metal band. Period.
                    </p>
                </span>
            </div>
        </div>
    </section>
    <section id="footerCopyright">
        <span>
            © 2016 Divinity Cast Down
        </span>
    </section>
</div>