<div id="homePageContainer">
    <section id="homePageMainBanner" class="parallax main-banner">
        <div class="container">
            <div class="title">
                <h1>Divinity Cast Down</h1>
                <h2>A rebel choir of death</h2>
            </div>
        </div>
    </section>
    <section id="homePageAboutUs">
        <div class="container">
            <p>
                A touch of death, a dash of thrash, some blackened melodies with a vulgar rasp. Aggressive and dark, Divinity Cast Down is a Toronto metal band. Period.
            </p>
        </div>
    </section>
</div>